
.screen-week {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}


.daily {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
    width: 9em;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.daily-img {
    width: 100%;
}


.daily-temp-high,
.daily-temp-low {
    margin-bottom: 0.35em;
}


.daily-temp-high::after,
.daily-temp-low::after {
    content: "\00b0";
    position: absolute;
}